<!-- SIDEBAR DE HERRAMIENTAAS -->
<app-sidebar (eventoFormato)="cambiarFormato($event)" (eventoColor)="cambiarColor($event)"
></app-sidebar>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="input-group pt-4">
      <input type="text" class="form-control" placeholder="Escribe un nombre identificador de tu versión" [(ngModel)]="nombre">
    </div>
  </div>
</div>
<!-- CONTENEDOR PARA PAGINAS -->

<div class="contenedor-paginas">
  <div class="row justify-content-center">
      <div class="pagina" [style]="'background-color:'+color[0]+';'">
        
        <div class="body-formato">
          <!-- AQUI VIENEN LAS DIFERENTES FORMATOS -->
          <!-- SE COMPARTEN LOS ATRIBUTOS DEL CARTEL -->
          <app-format-one 
          *ngIf="formato_actual=='f1'" class="fadeIn animated"
          [titulo_bg]="color[1]"
          [subtitulos_color]="color[2]"
          [apartados_bg]="color[3]"
          [cartel]="cartel"
          [graficas]="graficas"
          [images]="images"
          ></app-format-one>

          <app-format-two 
          *ngIf="formato_actual=='f2' " class="fadeIn animated"
          [titulo_bg]="color[1]"
          [subtitulos_color]="color[2]"
          [apartados_bg]="color[3]"
          [cartel]="cartel"
          [graficas]="graficas"
          [images]="images"
          ></app-format-two>

          <app-format-three 
          *ngIf="formato_actual=='f3'" class="fadeIn animated"
          [titulo_bg]="color[1]"
          [subtitulos_color]="color[2]"
          [apartados_bg]="color[3]"
          [cartel]="cartel"
          [graficas]="graficas"
          [images]="images"
          ></app-format-three>
        </div>
      </div>
  </div>
</div>