.image-input{
    position: relative;
    width: 100%;
    height: 100%;
}
.border-input{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border: 1px dashed rgb(140, 140, 140);
}