<div class="caja">
    <div class="titulo" [style]="'background-color:'+subtitulos_color">
        <div style="position: relative;height: 100%; width: 100%;align-items: center;text-align: center;">
            <h3>{{titulo}}</h3>
        </div>
    </div>
    <div class="restante">
        <!--FALTA ARREGLAR -->
        <div class="contenido" [style]="'background-color:'+apartados_bg">
            <editor  
            
            style="height: 100%;width: 100%;"
            [(ngModel)]="html" 
            apiKey="dyal385wlvsx071fkvr2nzs6llostwantfqy5z03rd1zehf2" 
            [init]="tinyMceConfig"></editor>
        </div>
    </div>
</div>
