
 <app-banner></app-banner>
 <div style="padding-left: 1vw;padding-right: 1vw;padding-top: 1vh;padding-bottom: 1vh;width: 100%;height: 94%;">
   <div style="height: 8%;">
      <app-titulo-text [titulo_bg]="titulo_bg"></app-titulo-text> 
   </div>
   <div class="secciones">
      <!-- COLUMNA 1 -->
      <div style="width:100%;height: 100%;position: relative;padding-right:1vw">
         <div style="width: 100%;height: 100%;">
            <div class="secc1">
               <!-- INTRODUCCION -->
               <div class="apartado">
                  <div style="height: 100%; width: 100%;">
                     <app-caja-texto titulo="Introducción" [subtitulos_color]="subtitulos_color"
                     [apartados_bg]="apartados_bg"></app-caja-texto>
                  </div>
               </div>
               <!-- OBJETIVOS -->
               <div class="apartado">
                  <div style="position:relative;height: 100%; width: 100%;">
                     <app-caja-texto titulo="Objetivos" [subtitulos_color]="subtitulos_color"
                     [apartados_bg]="apartados_bg"></app-caja-texto>
                  </div>
               </div>
               <!-- METODOLOGIA -->
               <div>
                  <div style="height: 100%; width: 100%;">
                     <app-caja-texto titulo="Metodología" [subtitulos_color]="subtitulos_color"
                     [apartados_bg]="apartados_bg"></app-caja-texto>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- COLUMNA 2 -->
      <div style="position: relative;width:100%;height: 100%;">
         <div style="width:100%;height: 100%;">
            <div class="secc2">
               <!-- RESULTADOS -->
               <div class="apartado">
                  <div class="apartado_res_g1_g2">
                     <!-- RESULTADOS -->
                     <div  style="padding-bottom: 1vw;height: 100%;width:100%;position: relative;">
                        
                        <app-caja-texto titulo="Resultados" [subtitulos_color]="subtitulos_color"
                        [apartados_bg]="apartados_bg"></app-caja-texto>
                     </div>
                     <!-- GRAFICA 1 -->
                     <div  style="padding-bottom: 1vw;position: relative;height: 100%;">
                        <app-image-input
                        label="Gráfica 1"></app-image-input>
                     </div>
                     <!-- GRAFICA 2 -->
                     <div>
                        <app-image-input
                        label="Gráfica 2"></app-image-input>
                     </div>
                  </div>
               </div>
               <!-- MULTIIMAGENES -->
               <div>
                  <app-multiimage-input></app-multiimage-input>
               </div>
            </div>
         </div>
      </div>
      <!-- COLUMNA 3 -->
      <div style="position: relative;width:100%;height: 100%;padding-left:1vw" >
         <div style="position: relative;width: 100%;height: 100%;" >
            <div class="secc3">
               <!-- CONCLUSION -->
               <div class="apartado ">
                  <div style="height: 100%; width: 100%;position: relative;">
                     <app-caja-texto titulo="Conclusión" [subtitulos_color]="subtitulos_color"
                     [apartados_bg]="apartados_bg"></app-caja-texto>
                  </div>
               </div>
               <!-- REFERENCIAS -->
               <div class="apartado">
                  <div style="height: 100%; width: 100%;">
                     <app-caja-texto titulo="Referencias" [subtitulos_color]="subtitulos_color"
                     [apartados_bg]="apartados_bg"></app-caja-texto>
                  </div>
               </div>
               <!-- DATOS DE CONTACTO -->
               <div class="apartado">
                  <div style="height: 100%; width: 100%;">
                     <app-caja-texto titulo="Datos de Contacto" [subtitulos_color]="subtitulos_color"
                     [apartados_bg]="apartados_bg"></app-caja-texto>
                  </div>
               </div>
               <!--  AGRADECIMIENTOS -->
               <div>
                  <div style="height: 100%; width: 100%;">
                     <app-caja-texto titulo="Agradecimientos" [subtitulos_color]="subtitulos_color"
                     [apartados_bg]="apartados_bg"></app-caja-texto>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>      
 </div>
