/* You can add global styles to this file, and also import other style files */
.options{
    cursor:pointer;
}
.options:hover{
    background-color: #edd1e9;
}
.options:focus{
    background-color: #d8bfd5;
}
.mce-content-body{
    position:relative;
    overflow: hidden;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
